/* ! == FOOTER == */
.footer {
    background: #459835;
    position: relative;
    padding: 45px 0 57px;
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
}
.footer-logo {
    flex-basis: 80px;
    -ms-flex-preferred-size: 80px;
    max-width: 80px;
}
.footer-nav {
    margin-bottom: 48px;
    li {
        position: relative;
        padding: 0 22px;
        &:last-child {
            padding-right: 0;
        }
        &:first-child {
            padding-left: 0;
            &:before {
                display: none;
            }
        }
        &:before {
            background: #77c837;
            @include all-sprite();
            width: 2px;
            height: 18px;
            margin-top: -9px;
        }
    }
    a {
        font-weight: 700;
        font-size: 1.8rem;
        color: #fff;
        text-transform: uppercase;
        @include link-transition();
        border-bottom: 1px solid transparent;
        &:hover {
            color: #77c837;
            border-bottom-color: #77c837;
        }
    }
}
.footer-mark {
    position: relative;
}
.copy {
    font-weight: 700;
    font-size: 1.1rem;
    color: #fff;
    display: block;
    margin-bottom: 3px;
}
.footer-slogan {
    font-weight: 400;
    font-size: 1.1rem;
    color: #fff;
}
@media (max-width: 767px) {
    .footer {
        padding: 30px 0;
    }
}
@media (min-width: 421px) {
    .footer-mark {
        padding: 0 30px;
        margin: 0 42px 0 45px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
    }
}
@media (max-width: 575px) {
    .footer {
        padding: 15px 0 20px;
    }
    .footer-logo {
        flex-basis: 50px;
        -ms-flex-preferred-size: 50px;
        max-width: 50px;
    }
    .footer-mark {
        max-width: 128px;
    }
    .copy, .footer-slogan {
        font-size: 0.9rem;
    }
}
@media (max-width: 500px) {
    .footer-mark {
        padding: 0 15px;
        margin: 0 12px;
    }
    /*.footer-logo {
        text-align: center;
        margin-bottom: 20px;
        .logo {
            width: 80px;
        }
    }
    .footer-logo, .footer-info {
        flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        max-width: 100%;
    }
    .footer-info {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .footer-mark {
        padding: 0;
    }
    .footer-copy {
        text-align: right;
    }*/

}
@media (max-width: 380px) {
    .footer {
        padding-bottom: 15px;
    }
    .footer-second {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
    .footer-mark {
        display: none;
    }
    .footer-copy {
        text-align: right;
    }
}