@import "reset";
@import "fonts";
@import "vars";
@import "mix";

body {
    background-color: $body-bg;
    font-weight: 400;
    font-family: $default-font;
    color: $all-color;
    font-size: 1.4rem;
    line-height: 1;
    position: relative;
    min-width: 320px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
@media screen and (min-width: 576px) {
    .container {
        max-width: 610px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1231px;
    }
}
/*@media (min-width: 992px) {
    .container {
        max-width: 1200px;
    }
}*/
h1, h2, h3, h4, strong, b {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.full-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.title {
    font-weight: 700;
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    display: block;
    margin-bottom: 30px;
}
.hide {
    display: none;
}
.all-wrapp {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    position: relative;
    width: 100%;
}
.btn {
    background-color: #2d2d2d;
    font-weight: 300;
    font-size: 1.4rem;
    color: #fff;
    position: relative;
    display: inline-block;
    text-align: center;
    height: 34px;
    line-height: 32px;
    padding: 0 27px;
    border: 1px solid #2d2d2d;
    @include link-transition();
    cursor: pointer;
    &:hover {
        background-color: #d0442a;
        /*color: #2d2d2d;*/
        border-color: #d0442a;
    }
}
.btn-2 {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    &:hover {
        border-color: #fff;
    }
}

@import "header";

/* ! == BLOCK TOP == */
.b-top {
    /*background: #77c837;*/
    .container-fluid {
        max-width: 1920px;
        padding: 0;
    }
}
.item-banner {
    max-height: 600px;
    .item-banner__link {
        display: block;
        height: 100%;
        line-height: 0;
    }
}

/* ! == TAB == */
.b-tab {
    padding-top: 35px;
    .container--caption {
        max-width: 1300px;
    }
}
.tabs-caption {
    margin: 0 -5px -1px;
    .tabs-caption__item {
        padding: 0 5px;
        &.active {
            .tabs-caption__title {
                background: #f0f1f1;
                color: #424042;
                cursor: default;
                z-index: 4;
            }
        }
    }
    .tabs-caption__title {
        background: #cfd2d3;
        font-weight: 700;
        font-size: 1.8rem;
        color: #424042;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        display: flex;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        justify-content: center;
        align-items: center;
        -ms-flex-align: center;
        width: 100%;
        height: 61px;
        padding: 0 5px;
        border: 1px solid #CFD2D3;
        border-bottom-color: transparent;
        @include link-transition();
        /*border-bottom: 1px solid #B7B8BB;*/
        &:hover {
            background: #f0f1f1;
            color: #77c837;
            z-index: 4;
        }
    }
}
.b-tabs-content {
    background: #f0f1f1;
    position: relative;
    padding: 50px 0 42px;
    border-top: 1px solid #B7B8BB;
    border-bottom: 1px solid #B2B3B6;
}
.tabs-content {
    display: none;
    &.active {
        display: block;
    }
}
.slider-product {
    /*padding: 0 20px;*/
    margin: 0 -15px;
    .slick-track {
        display: flex;
        display: -ms-flexbox;
        .slick-slide {
            ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
            float: none;
            height: auto;
            padding: 0 15px;
            > div {
                height: 100%;
            }
        }
    }
}
.item-product {
    height: 100%;
    text-align: center;
    .item-product__wrapp {
        height: 100%;
    }
    .item-product__img {
        position: relative;
        display: block;
        line-height: 0;
        overflow: hidden;
        margin-bottom: 25px;
        &:after {
            background: rgba(0,0,0,0.2);
            @include all-pseudo();
            @include all-transition();
            opacity: 0;
        }
        img {
            position: relative;
            width: 100%;
            @include transform-position();
            @include img-transition();
        }
        &:hover {
            &:after {
                opacity: 1;
            }
            img {
                @include scale();
            }
        }
    }
    .item-product__title {
        font-weight: 700;
        font-size: 1.6rem;
        color: #424042;
        text-transform: uppercase;
        display: inline-block;
        @include link-transition();
        &:hover {
            color: #469836;
        }
    }
    .item-product__desc {
        font-style: italic;
        font-weight: 500;
        font-size: 1.1rem;
        display: block;
        line-height: 1.2em;
        margin-top: 15px;
    }
    .item-product__button {
        margin-top: 30px;
    }
}
.read-more {
    position: relative;
    display: inline-block;
    font-style: italic;
    font-weight: 500;
    font-size: 1.2rem;
    color: #469936;
    line-height: 1em;
    padding-right: 18px;
    @include all-transition();
    &:after {
        position: absolute;
        display: block;
        line-height: 1em;
        content: '\00BB';
        font-style: normal;
        font-size: 1.8rem;
        color: #469936;
        top: -4px;
        right: 0;
        @include all-transition();
    }
    &:hover {
        color: #333;
        &:after {
            color: #333;
        }
    }
}
.slick-arrow {
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
    height: 12px;
    padding: 0;
    top: 60px;
    cursor: pointer;
    color: transparent;
    outline: none;
    z-index: 2;
    border: none;
    @include all-transition();
    &:before {
        position: relative;
        display: block;
        font-weight: bold;
        font-size: 2.2rem;
        font-family: Arial, sans-serif;
        color: #469836;
        @include all-transition();
    }
    &:hover {
        &:before {
            color: #545655;
        }
    }
}
.slider-product {
    .slick-arrow {
        &:before {
            color: #545655;
        }
        &:hover {
            &:before {
                color: #469836;
            }
        }
    }

}
.slick-prev {
    left: 0;
    &:before {
        content: "\00AB";
    }
}
.slick-next {
    right: 0;
    &:before {
        content: "\00BB";
    }
}
@media screen and (max-width: 1200px) {
    .container--caption {
        padding: 0;
        overflow: hidden;
    }
    .slider-product {
        margin: 0;
        .slick-track {
            .slick-slide {
                padding: 0 7px;
            }
        }
    }
}
@media screen and (max-width: 1100px) {
    .tabs-caption {
        .tabs-caption__title {
            font-size: 1.5rem;
            height: 50px;
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
    .item-product {
        .item-product__title {
            font-size: 1.4rem;
        }
        .item-product__desc {
            font-size: 1rem;
        }
    }
}
@media screen and (max-width: 991px) {
    .tabs-caption {
        .tabs-caption__title {
            font-size: 1.4rem;
            height: 45px;
        }
    }
    .b-tabs-content {
        padding: 40px 0 32px;
    }
    .item-product .item-product__title {
        font-size: 1.4rem;
    }
    .slider-product {
        padding: 0 20px;
    }
}
@media screen and (max-width: 767px) {
    .b-tab {
        padding-top: 15px;
    }
    .tabs-caption .tabs-caption__title {
        font-size: 1.1rem;
        height: 35px;
    }
    .b-tabs-content {
        padding: 20px 0 15px;
    }
    .slider-product {
        .slick-track {
            .slick-slide {
                padding: 0 5px;
            }
        }
        .slick-arrow {
            top: 37px;
        }
    }
    .item-product {
        .item-product__img {
            height: 75px;
            margin-bottom: 15px;
            img {
                max-width: none;
                max-height: none;
                width: auto;
            }
        }
        .item-product__title {
            font-size: 1.2rem;
        }
        .item-product__desc {
            text-align: left;
            height: 50px;
            overflow: hidden;
            margin-top: 10px;
        }
        .item-product__button {
            margin-top: 13px;
        }
    }
}
@media screen and (max-width: 575px) {
    .tabs-caption {
        display: block;
        .tabs-caption__item {
            border-bottom: 2px solid #449937;
        }
        .tabs-caption__title {
            font-size: 1.2rem;
            border: none;
        }
    }
    .b-tabs-content {
        .container {
            max-width: 320px;
        }
    }
    .slider-product {
        .slick-arrow {
            top: 55px;
        }
    }
    .item-product {
        .item-product__img {
            height: 120px;
        }
        .item-product__desc {
            height: auto;
        }
    }
}

/* ! == REFERENCE == */
.b-reference {
    background: #469836;
    padding: 35px 0;
    margin-top: 32px;
}
.b-reference__head {
    text-align: center;
    margin-bottom: 42px;
    .b-reference__title {
        font-weight: 700;
        font-size: 2rem;
        color: #fff;
        text-transform: uppercase;
        @include link-transition();
        &:hover {
            color: #86e23e;
        }
    }
    .b-reference__desc {
        font-style: italic;
        font-weight: 500;
        font-size: 1.6rem;
        color: #fff;
        display: block;
        line-height: 1.2em;
        margin-top: 8px;
    }
}
.slider-reference {
    margin: 0 -30px;
}
.item-reference {
    position: relative;
    height: 100%;
    .item-reference__img {
        display: block;
        line-height: 0;
        text-align: center;
        overflow: hidden;
        &:after {
            background: rgba(0,0,0,0.2);
            @include all-pseudo();
            @include all-transition();
            opacity: 0;
        }
        img {
            position: relative;
            @include transform-position();
            @include img-transition();
        }
        &:hover {
            &:after {
                opacity: 1;
            }
            img {
                @include scale();
            }
        }
    }
}
.slider-reference {
    .slick-track {
        display: flex;
        display: -ms-flexbox;
    }
    .slick-slide {
        /*ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        float: none;*/
        position: relative;
        height: auto;
        padding: 0 30px;
        &:before {
            background: #fff;
            @include pseudo();
            width: 2px;
            height: 100%;
            top: 0;
            left: -1px;
        }
        & > div {
            height: 100%;
        }
    }
    .slick-current {
        &:before {
            display: none;
        }
        /*.item-reference {
            &:before {
                display: none;
            }
        }*/
    }
    .slick-arrow {
        background: #449937;
        width: 25px;
        height: 100%;
        top: 0;
        &:before {
            color: #fff;
        }
    }
    .slick-prev {
        text-align: left;
    }
    .slick-next {
        text-align: right;
    }
}
.b-reference__button {
    text-align: center;
    margin-top: 26px;
    .read-more {
        color: #fff;
        &:after {
            color: #fff;
        }
        &:hover {
            color: #333;
            &:after {
                color: #333;
            }
        }
    }
}
@media screen and (max-width: 1280px) {
    .slider-reference {
        margin: 0;
    }
}
@media screen and (max-width: 991px) {
    .b-reference__head {
        margin-bottom: 25px;
    }
    .slider-reference {
        .slick-slide {
            padding: 0 16px;
        }
    }
}
@media screen and (max-width: 767px) {
    .slider-reference {
        padding: 0 20px;
        /*.slick-arrow {
            background: #449937;
            width: 25px;
            height: 100%;
            top: 0;
            &:before {
                color: #fff;
            }
        }*/
    }
}
@media screen and (max-width: 575px) {
    .slider-reference {
        .slick-slide {
            padding: 0;
            &:before {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .b-reference__head {
        margin-bottom: 30px;
        .b-reference__title {
            font-size: 1.6rem;
        }
        .b-reference__desc {
            font-size: 1.4rem;
        }
    }
    .slider-reference {
        padding: 0 30px;
    }
}

/* ! == PARTNERS == */
.b-partners {
    padding-top: 26px;
}
.b-partners__text {
    text-align: center;
    margin-bottom: 30px;
    .b-partners__title {
        font-weight: 700;
        font-size: 1.8rem;
        color: #414042;
        text-transform: uppercase;
    }
    .b-partners__desc {
        font-style: italic;
        font-weight: 500;
        font-size: 1.2rem;
        color: #414042;
        display: block;
        margin-top: 8px;
    }
}
.b-partners__slider {
    padding: 30px 0;
    border-top: 2px solid #469936;
    border-bottom: 2px solid #469936;
}
.slider-partner {
    padding: 0 20px;
    .slick-slide {
        padding: 0 10px;
    }
    .item-partner {
        height: 80px;
    }
    .slick-arrow {
        top: 50%;
        margin-top: -6px;
    }
}
@media screen and (max-width: 767px) {
    .b-partners__text {
        margin-bottom: 20px;
    }
    .b-partners__slider {
        padding: 15px 0;
    }
    .slider-partner .item-partner {
        height: 60px;
    }
}
@media screen and (max-width: 575px) {
    .b-partners__text {
        .b-partners__title {
            font-size: 1.6rem;
        }
    }
}

/* ! == COMPANY ==*/
.b-company {
    padding: 38px 0 45px;
    .col--figure {
        flex-basis: 330px;
        -ms-flex-preferred-size: 330px;
        max-width: 330px;
    }
    .b-company__figure {
        position: relative;
        display: inline-block;
        text-align: right;
        line-height: 0;
        padding-left: 30px;
        /*border-left: 2px solid #469936;*/
        &:before {
            background: #469936;
            @include pseudo();
            width: 2px;
            height: 90%;
            bottom: 0;
            left: 0;
        }
    }
}
.item-article {
    font-style: italic;
    .item-article__title {
        font-weight: 700;
        font-size: 1.3rem;
        color: #414042;
        display: block;
        line-height: 1.1em;
        margin-bottom: 18px;
    }
    .item-article__desc {
        font-weight: 500;
        font-size: 1.3rem;
        color: #414042;
        line-height: 1.2em;
    }
}
@media screen and (max-width: 767px) {
    .b-company {
        padding: 22px 0 30px;
    }
    .item-article {
        .item-article__title {
            font-size: 1.1rem;
        }
        .item-article__desc {
            font-size: 1.1rem;
        }
    }
}
@media screen and (max-width: 575px) {
    .b-company {
        .col--figure {
            flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
            max-width: 100%;
            margin-top: 25px;
        }
        .b-company__figure {
            display: block;
            text-align: center;
            padding-left: 0;
            &:before {
                display: none;
            }
            /*img {
                width: 100%;
            }*/
        }
    }
}

/* ! == SERVICE == */
.item-article--service {
    margin-bottom: 30px;
}
.b-service {
    .col {
        margin-bottom: 30px;
    }
}
.item-service {
    text-align: center;
    .item-service__img {
        position: relative;
        display: block;
        line-height: 0;
        overflow: hidden;
        margin-bottom: 25px;
        &:after {
            background: rgba(0,0,0,0.2);
            @include all-pseudo();
            @include all-transition();
            opacity: 0;
        }
        img {
            position: relative;
            width: 100%;
            @include transform-position();
            @include img-transition();
        }
        &:hover {
            &:after {
                opacity: 1;
            }
            img {
                @include scale();
            }
        }
    }
    .item-service__title {
        font-weight: 700;
        font-size: 1.6rem;
        color: #424042;
        text-transform: uppercase;
        display: inline-block;
        @include link-transition();
        &:hover {
            color: #469836;
        }
    }
    .item-service__desc {
        font-style: italic;
        font-weight: 500;
        font-size: 1.1rem;
        display: block;
        line-height: 1.2em;
        margin-top: 15px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .b-service {
        margin: 0 -5px;
        .col {
            padding: 0 5px;
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
    .item-service {
        .item-service__title {
            font-size: 1.4rem;
        }
        .item-service__desc {
            font-size: 1rem;
        }
    }
}

/* ! == PORTFOLIO == */
.callery-image {
    margin: 0 -4px;
    .col {
        padding: 0 4px;
        margin-bottom: 10px;
    }
}
.callery-image {
    margin-top: 30px;
    .callery-image__image {
        position: relative;
        display: block;
        line-height: 0;
        overflow: hidden;
        margin-bottom: 25px;
        cursor: pointer;
        /*&:after {
            background: rgba(0,0,0,0.2);
            @include all-pseudo();
            @include all-transition();
            opacity: 0;
        }*/
        img {
            position: relative;
            width: 100%;
            @include transform-position();
            @include img-transition();
        }
        &:hover {
            /*&:after {
                opacity: 1;
            }*/
            img {
                @include scale();
            }
        }
    }
}

@import "footer";
